.offer {
  width: 65%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #4682b4 0%, #e1ffea22 80%);
}
.offer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offer-left h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.offer-left p {
  color: #171717;
  font-size: 22px;
  font-weight: 600;
}
.offer-left button {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background: #4682b4;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
}
.offer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 50px;
}
.offer-right img {
  height: 400px;
}
