.description-box {
  margin: 90px 110px;
}
.db-navigator {
  display: flex;
}
.db-navbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  width: 140px;
  height: 60px;
  border: 1px solid #d0d0d0;
}
.db-navbox.fade {
  background: #fbfbfb;
  color: #555;
}
.db-description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 20px;
  padding-bottom: 50px;
}
