.productdisplay {
  display: flex;
  margin: 60px 100px;
}
.prod-left {
  display: flex;
  gap: 10px;
}
.prod-img-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prod-img-list img {
  height: 105px;
}
.prod-main-img {
  width: 400px;
  height: 450px;
}
.prod-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.prod-right h1 {
  color: #3d3d3d;
  font-size: 25px;
  font-weight: 600;
}
.stars {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.prices {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.old-price {
  color: #818181;
  text-decoration: line-through;
}
.new-price {
  color: #4682b4;
}
.prod-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #4682b4;
  margin-bottom: 10px;
  margin-top: 60px;
  border: none;
  outline: none;
  cursor: pointer;
}
.category {
  margin-top: 10px;
}
.category span {
  font-weight: 600;
}
